$breakpoints: (
  'small': 576px,
  'medium': 768px,
  'large': 992px,
  'xlarge': 1280px
);

@mixin for-size($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "No se encontró el breakpoint '#{$breakpoint}' en la lista de breakpoints.";
  }
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1 0 100%; // En pantallas pequeñas, cada columna tomará el 100% del ancho

    @include for-size('small') {
        flex: 1 0 50%; // En pantallas pequeñas, cada columna tomará el 50% del ancho
    }

    @include for-size('medium') {
        flex: 1 0 33.33%; // En pantallas medianas, cada columna tomará el 33.33% del ancho
    }

    @include for-size('large') {
        flex: 1 0 25%; // En pantallas grandes, cada columna tomará el 25% del ancho
    }

    @include for-size('xlarge') {
        flex: 1 0 8.33%; // En pantallas extra grandes, cada columna tomará el 8.33% del ancho
    }
}